/* Reset some default styles */
body, h1, h2, p, ul, li {
    margin: 4;
    padding: 8;
}

body {
    font-family: 'Trebuchet MS', sans-serif;
    background-color: #000000;
    color: #b2eb91;
}

header {
    background-color: #141414;
    color: #96da68;
    padding: 15px 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: #a8e788;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #fcfff7;
}

main {
    margin: 20px;
}

h1, h2 {
    color: #00f710;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4ccc63;
    color: #f0f0ea;
    text-decoration: none;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #04880a;
}

section {
    margin-bottom: 30px;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    color: #6200ea;
}

a:hover {
    text-decoration: underline;
}
